---
title: Kristian's GitHub Page
---
{% import "mymacros.njk" as macros -%}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/{{ cssFile }}" />
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <h1>{{ title }}</h1>
        </header>
        <nav>
            {# render navigation menu #}
            {% set navPages = collections.all | eleventyNavigation %}
            <ul id="myNavMenu">
                {%- for entry in navPages %}
                    {{ macros.renderEntry(entry) }}
                {%- endfor %}
            </ul>
        </nav>
        {{ content | safe}}
    </body>
</html>
